<section class="about">
	<div class="main-container about__inner">
		<div class="about__bg"></div>
		<div class="about__cont">
			<h2 class="about__title">What are AtomPay crypto payment gateway features?</h2>
			<p class="about__desc">No rolling reserves / Global coverage Zero chargebacks / Instant transactions</p>

			<div class="benefits about__benefits">
				<div class="benefits__item">
					<h3 class="benefits__title">
						<svg class="icon benefits__icon">
							<use href="img/sprite.svg#protection"></use>
						</svg>
						<span class="benefits__title-text">Volatility protection</span>
					</h3>
					<div class="benefits__desc">
						Automatic conversion of incoming payments into
						stablecoins will protect against cryptocurrency
						volatility, same as the Withdrawal auto-convert
						feature, that allows you to withdraw your crypto in
						a preferred currency – and both features are completely
						free to use!
					</div>
				</div>

				<div class="benefits__item">
					<h3 class="benefits__title">
						<svg class="icon benefits__icon">
							<use href="img/sprite.svg#filter"></use>
						</svg>
						<span class="benefits__title-text">Transactions status management</span>

					</h3>
					<div class="benefits__desc">
						Adjust the allowed payment accuracy, view if an invoice
						has been overpaid or underpaid and send an additional
						invoice to collect a remaining amount.
					</div>
				</div>

				<div class="benefits__item benefits__item_full">
					<h3 class="benefits__title">
						<svg class="icon benefits__icon">
							<use href="img/sprite.svg#chart-alt"></use>
						</svg>
						<span class="benefits__title-text">Flexible commissions for each coin</span>
					</h3>
					<div class="benefits__desc">
						Set additional commissions or add a discount for <br>
						chosen coins.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>