<section class="commission-plans">
	<div class="main-container">
		<div class="commission-plans__row">
			<div class="commission-plans__item">
				<h3 class="commission-plans__title">high</h3>

				<div class="commission-plans__info">
					<p>Commission: <b class="color-text_success">0.5%</b></p>
					<p>Transaction: <b class="color-text_success">3000t/m</b></p>
					<p>Verification: <b class="color-text_success">yes</b></p>
				</div>
			</div>

			<div class="commission-plans__item">
				<h3 class="commission-plans__title">medium</h3>
				<div class="commission-plans__info">
					<p>Commission: 1%</p>
					<p>Transaction: 1000t/m</p>
					<p>Verification: <b class="color-text_danger">no</b></p>
				</div>
			</div>

			<div class="commission-plans__item">
				<h3 class="commission-plans__title">low</h3>
				<div class="commission-plans__info">
					<p>Commission: 2%</p>
					<p>Transaction: <b class="color-text_danger">0</b></p>
					<p>Verification: <b class="color-text_danger">no</b></p>
				</div>
			</div>
		</div>
	</div>
</section>
