<section class="hero">
	<div class="main-container hero__inner">
		<div class="hero__bg"></div>
		<div class="hero__cont">
			<div class="hero__header">
				<div class="hero__header-desc">ACCEPT CRYPTO PAYMENTS</div>
				<div class="hero__header-logo">AtomPay</div>
				<div class="hero__header-desc-2"> Crypto Payment Gateway</div>
				<a href="" class="btn btn_white hero__header-btn">get start</a>
			</div>

			<div class="hero__info-box">
				<h1 class="hero__title">Crypto payments for your business at your fingertips</h1>

				<div class="hero-info">
					<div class="hero-info__cont">
						Accept payments with many benefits and <br class=hidden_max-lg>
						manage your merchant with easy
					</div>

					<div class="hero-info__btn-group">
						<a href="" class="btn btn_secondary">Contact Us</a>
						<a href="" class="btn btn_white">sing up</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>